.App {
  text-align: center;
  font-family: 'Didact Gothic';
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.display-news-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.display-news-container h1 {
  font-size: 1.5rem;
}
.display-news-container p {
  font-size: 1.2rem;
}
.single-story {
  border: 1px solid white;
  border-radius: 20px;
  background-color: whitesmoke;
  color: rgb(0, 140, 255);
  margin: 2px;
  width: 300px;
}
.single-story:hover {
  cursor: pointer;
  opacity: 90%;
}
.single-story img {
  width: 100%;
  min-height: 180px;
}
.single-news-story-container {
  border: 1px solid white;
  border-radius: 20px;
  background-color: whitesmoke;
  color: rgb(0, 140, 255);
  margin: auto;
  min-height: 200px;
  max-width: 80%;
}
.single-news-story-container img {
  width: 100%;
  min-height: 180px;
  max-height: 600px;
}
.single-news-story-container h1 {
  color: rgb(184, 0, 0);
  font-weight: 1000;
}
.story-text {
  font-size: 1.32rem;
  color: black;
}
.countries-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap ;
}
.countries-container div {
  margin: 5px;
  padding: 5px;
  width: 370px;
  height: 200px;
  line-height: 200px;
  font-size: 2rem;
  color: rgb(0, 81, 255);
  opacity: 80%;
  text-align: center;
}
.countries-container div:hover{
  cursor: pointer;
  opacity: 100%;
}
.us {
  background-image: url('../pics/us.jpg');
  background-size: 100% 100%;
}
.uk {
  background-image: url('../pics/uk.jpg');
  background-size: 100% 100%;
}
.cn {
  background-image: url('../pics/cn.jpg');
  background-size: 100% 100%;
}
.ca {
  background-image: url('../pics/ca.jpg');
  background-size: 100% 100%;
}
.au {
  background-image: url('../pics/au.jpg');
  background-size: 100% 100%;
}
.de {
  background-image: url('../pics/de.jpg');
  background-size: 100% 100%;
}
.fr {
  background-image: url('../pics/fr.jpg');
  background-size: 100% 100%;
}
.kr {
  background-image: url('../pics/kr.jpg');
  background-size: 100% 100%;
}
.in {
  background-image: url('../pics/in.jpg');
  background-size: 100% 100%;
}
.th {
  background-image: url('../pics/th.jpg');
  background-size: 100% 100%;
}
.jp {
  background-image: url('../pics/jp.jpg');
  background-size: 100% 100%;
}